.select.main{
    border: 1px solid black;
    display: inline-block;
    min-height: 20px;
    min-width: 40px;

}

.items {
    padding: 5px;
    position: absolute;
    border: 1px solid black;
}

.item.selected {
    background-color: #1ea7fd;
    color: #e7fdd8;
}
